.item-card {
  margin-bottom: 10px;
  border-radius: 10px;
}

.space-5 {
  margin: 0 5px;
  border-radius: 10px;
}

.btn{
  margin-left: 20px;
  border-radius: 10px;
}

.card-body{
  background-color: greenyellow;
  border-radius: 10px;
}

